# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_API_KEY=4a8383ac7f6974dea1f877e70ebd553d
TRELLO_API_TOKEN=ebfad9cab3038ec0e2920cfea5b2997298aa26d00cae9a3ac48909f5f077154f