{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Craig's To-Do App</h1>
    <p class="lead">What needs doing today?.</p>
  </div>

  <form action="add_task" method="post" class="form-example">
    <div class="form-example">
      <label for="name"> Add item: </label>
      <input type="text" name="todo_title" id="todo_title" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Submit">
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %} 
                <li>{{ item.name }} - {{item.status}}
                  {% if item.status != "In progress"%}
                  <form action="progress" method="post" class="form-example">
                    <input type="hidden" value="{{item.id}}" name="item_id">
                    <input type="submit" value="Started">
                  </form>
                  {% endif %}
                  {% if item.status != "Done"%}
                  <form action="mark_done" method="post" class="form-example">
                    <input type="hidden" value="{{item.id}}" name="item_id">
                    <input type="submit" value="Delete">
                  </form>
                  {% endif %}
                </li> 
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}