{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div style="background-color:rgb(45, 68, 91);" class="jumbotron">
    <h1 style="color:Tomato;" class="display-4">Tasks to Complete</h1>
    <p style="color:Tomato;" class="lead">A non exhaustive list!</p>
  </div>

  
  {% if view_model.is_writer %}
  <form action="add_task" method="post" class="form-example">
    <div class="form-example">
      <label style="color:rgb(23, 50, 79);" for="name"> Add a task: </label>
      <input type="text" class="capitalized" name="todo_title" id="todo_title" required>
      <input style="margin-inline-end: 23em; color:tomato; font-size:small; font-weight: bold; background:rgb(23, 50, 79);" type="submit" value="Submit">
    </div>
  </form>
  {% endif %} 

  <div class="row">
    <div class="col-md-8">
      <h2 style="color: Tomato; font-size: large; font-weight: bolder;  padding: 10px 15px 20px">List of unenviable things to do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.items %} 
        <li style="float:left; font-family: 'Courier New', Courier, monospace; color: tomato; font-weight: bolder; text-transform: capitalize;">{{ item.name }} - {{item.status}}
                  {% if view_model.is_writer %}
                  {% if item.status != "Done"%}
                  <span style="padding: 0.2em; float:right"><form action="mark_done" method="post" class="form-example">
                    <input type="hidden" value="{{item.id}}" name="item_id">
                    <input type="submit" style="display: flex; color:tomato; font-size:small; font-weight: bold; background: rgb(23, 50, 79);" value="Complete Task">
                  </form></span>
                  {% endif %}
                  {% if item.status != "started"%}
                    <span style="margin-left: 2px; padding: 0.2em; float: right"><form action="progress" method="post" class="form-example">
                      <input type="hidden" value="{{item.id}}" name="item_id">
                      <input type="submit" style="display: flex; color:tomato; font-size: small; font-weight:bold; background: rgb(23, 50, 79);" value="Start Task">
                    </form></span>
                    {% endif %}
                  {% endif %}
                </li> 
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}